*{
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(212, 45%, 89%);
}

.main{
    background-color:hsl(212, 45%, 89%);
    width: 375px;
    padding:2em;
    
    padding-bottom: 0.75em;
}

.sub__main{
    background-color: white;
    max-width: 325px;
    padding: 1.25em;
    border-radius: 20px;
    margin: 2em auto;
    

}
.qr__img{
    object-fit: cover;
    width:100%;
    border-radius: 8px;
    margin-bottom: 1em;
}

.attribution{
    margin:0;
    margin-top:auto;
    text-align: center;
    font-size: 0.8rem;
    margin-top: auto;
}
.attribution > a {
    font-size: 0.8rem;
    color:hsl(220, 15%, 55%);
}

/* typography */

.title__text{
    font-size: 1.5rem;
    text-align: center;
}

p{
    text-align:center;
    font-size: 1.1rem;
    color:hsl(220, 15%, 55%);
    margin-bottom: 1.5em;
}

 
